.sidebar-top {
  display: flex;

  .sidebar-top__image {
    width: 34%;
    border-radius: 50%;
  }
}

.sidebar-bottom{
  span{
    &:before {
      content: '';
      display: block;
      pointer-events: none;
      border-radius: inherit;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      color: inherit;
      background-color: currentColor;
      transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
    }
    &:hover, &:active {  
      opacity: 0.74;
      
    }
  }

  .emoji{
    width: 20%;
    padding-right: 7px;
  }
}

.mdl-button--fab.mdl-button--colored:hover {
  background-color: #a5bdd9;
}
.sidebar-mid {
  text-align: center;
  margin-top: 19px;

  .sidebar-mid__title {
    font-weight: 600;
    font-size: 23px;
  }

  .sidebar-mid__subTitle {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.mdl-button--fab.mdl-button--colored {
  background: #81b8e6;
  color: #000;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
  margin-right: 10px;
}
.mdl-layout__obfuscator{
  z-index: 5;
}

#right-sidebar {
  display: none;
}

.right-sidebar {
  max-height: 100%;
  position: absolute;
  top: 0px;
  right: 299px;

  padding-top: 83px;


  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: 100%;

  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  transform: translateX(300px);
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-property: transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 6;

  .right-sidebar__arrow{
    position: absolute;
    top: 11px;
    left: 11px;
    background-color: #ecf1fb;

  }
  &.right-sidebar--active {
    transform: translate(0);
  }
}
