mixin pack-card
	a(href='#' class="pack-card")
		img(src='~images/girl.png' alt='image' class="pack-card__image")
		.pack-card__title.mdl-typography--font-bold Sister
		audio(class="pack-card__audio")
			//source(src="../audio/Want.wav")