extends layouts/main

block layout
  .mdl-layout.mdl-js-layout.auth-layout
    section.auth-container
      #cube.show-front
        include partials/login

        include partials/signup

        include partials/forgetPassword

