extends layouts/main

block layout
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
    include partials/header
      block page-title
        | Sentence Composition


    .sentence-bar
      #sub-header
      button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-color-text--white.mdl-button--primary.play-button
        i.material-icons play_arrow

    include partials/left-sidebar

    main.mdl-layout__content
      .page-content
        .mdl-grid#sentence-composition


