.banner
  //- .banner__image
  .panner__content 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex neque nostrum molestiae accusamus accusantium illum sint dicta. Minima suscipit fugit labore quae at error. Voluptatibus dolorem assumenda dolores aliquid doloribus.
    .panner__actions
      button.mdl-button.mdl-js-button.mdl-button--primary
        | Accept
      button.mdl-button.mdl-js-button.mdl-button--primary
        | Deny
