footer 
  .mdl-grid
    .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--12-col-phone
      h2.display-4 Kalamy
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem cupiditate neque, nemo officia inventore aspernatur soluta esse 
    .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--12-col-phone
      ul.demo-list-item.mdl-list
        li.mdl-list__item
          a(href="about.html" class="mdl-list__item-primary-content")
            | About
        li.mdl-list__item
          a(href="feedback.html" class="mdl-list__item-primary-content")
            | Feedback
        li.mdl-list__item
          a(href="#" class="mdl-list__item-primary-content")
            | Bob Odenkirk

    .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--12-col-phone
      ul.demo-list-item.mdl-list
        li.mdl-list__item
          a(href="#" class="mdl-list__item-primary-content")
            | Bryan Cranston
        li.mdl-list__item
          a(href="#" class="mdl-list__item-primary-content")
            | Aaron Paul
        li.mdl-list__item
          a(href="#" class="mdl-list__item-primary-content")
            | Bob Odenkirk

    .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--12-col-phone
      ul.demo-list-item.mdl-list
        li.mdl-list__item
          a(href="#" class="mdl-list__item-primary-content")
            | Bryan Cranston
        li.mdl-list__item
          a(href="#" class="mdl-list__item-primary-content")
            | Aaron Paul
        li.mdl-list__item
          a(href="#" class="mdl-list__item-primary-content")
            | Bob Odenkirk

  .copy-rights
    p Kalami &copy; copy rights
    .fritill Designe & Developed By Fritill
      img(src="~images/Fritill-logo.png", alt="")