header.mdl-layout__header.full-header
  .mdl-layout__header-row
    //- Title
    .mdl-layout-title
      block page-title
    nav.mdl-navigation
      a(class="mdl-navigation__link" href="auth.html") login
      a(class="mdl-navigation__link" href="packs.html") All Packs