header.mdl-layout__header.header-change-color
  .mdl-layout__header-row
    //- Title
    .mdl-layout-title
      block page-title

    nav.mdl-navigation
      a(class="mdl-navigation__link" href="packs.html") All Packs
      a(class="mdl-navigation__link" href="free-sentences.html") Free Sentences