.mdl-layout__drawer
  a(href='/' class="mdl-layout-title")
    img(src='~images/apple-store.png' alt='apple store' class="kalami-logo")

  .mdl-menu__item--full-bleed-divider
  //- user
  .user
    img(src='~images/girl.png' alt='your image' class='user__image')
    .user__data 
      .user__data__name  name 
      .user__data__packs  9 packs

  .mdl-menu__item--full-bleed-divider



  ul.demo-list-icon.mdl-list
    li.mdl-list__item
      a(class="mdl-list__item-primary-content" href="account.html")
        i.material-icons.mdl-list__item-icon account_circle
        |  Account
    li.mdl-list__item
      a(class="mdl-list__item-primary-content" href="subscriptions.html")
        i.material-icons.mdl-list__item-icon subscriptions
        |  Subscriptions
    li.mdl-list__item
      a(class="mdl-list__item-primary-content" href="feedback.html")
        i.material-icons.mdl-list__item-icon send
        |  feedback
    li.mdl-list__item
      a(class="mdl-list__item-primary-content" href="about.html")
        i.material-icons.mdl-list__item-icon info
        |  About

    .mdl-menu__item--full-bleed-divider

    li.mdl-list__item
      a(class="mdl-list__item-primary-content" href="#")
        i.material-icons.mdl-list__item-icon logout
        | Logout

    


    .sidebar-footer
      div 
        a(href='#' class="mdl-list__item sidebar-footer__download")
          img(src='~images/google-play.png' alt='apple store')

        a(href='#' class="mdl-list__item sidebar-footer__download")
          img(src='~images/apple-store.png' alt='apple store')

      .sidebar-footer__links 
        a(href='#')
          span Home 
        a(href='#')
          span Legal 
        a(href='#')
          span Terms of Use 
        a(href='#')
          span Privacy 
        a(href='#')
          span Policy 
        a(href='#')
          span Licenses

      .mdl-list__item.copy-right
        p
          | &copy; 2022 
          strong Itqadem
            | . All Rights Reserved.
      .fritill
        p Developed and designed by
        a(href="https://fritill.com/" class="fritill-logo")
          img(class="fritill-logo-image" src='~images/Fritill-logo.png', alt="fritill-logo")
