.mdl-card.mdl-shadow--2dp.mdl-card--unset-width
  .mdl-card__supporting-text
    h5.mdl-card__title-text Previous Subscriptions
    ul.mdl-list.subscription-list
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          span
            | 3 days  
            small.mdl-typography--font-bold.mdl-color-text--orange-700 in trial
          span.mdl-list__item-text-body
            strong Start at : 
            | 2 Mar 2020 | 
            strong Expires at : 
            | 2 April 2020
        span.mdl-list__item-secondary-content
          span.mdl-chip.mdl-color--cyan-50
            span.mdl-chip__text EGP 1000/Year
          //- span.mdl-chip.mdl-color--cyan-50
          button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
            i.material-icons close


      .mdl-menu__item--full-bleed-divider
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          span
            | Yearly  
            small.mdl-typography--font-bold.mdl-color-text--green-700 Active
          span.mdl-list__item-text-body
            strong Start at : 
            | 2 Mar 2020 | 
            strong Expires at : 
            | 2 April 2020
        span.mdl-list__item-secondary-content
          span.mdl-chip.mdl-color--cyan-50
            span.mdl-chip__text EGP 1000/Year


      .mdl-menu__item--full-bleed-divider
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          span
            | Monthly  
            small.mdl-typography--font-bold.mdl-color-text--red Expired
          span.mdl-list__item-text-body
            strong  Start at : 
            | 2 Mar 2020 | 
            strong Expires at : 
            | 2 April 2020
        span.mdl-list__item-secondary-content
          span.mdl-chip.mdl-color--cyan-50
            span.mdl-chip__text EGP 100/Month