.mdl-card.mdl-shadow--2dp.plans-container.mdl-card--unset-width
	.mdl-card__title.mdl-card--expand

	.mdl-card__supporting-text
		form
			h5 Unlock Kalami Premium
			p Functionality of Kalami will always be free. Premium offers +50 additional Assistive Card packs
			//- #allPlanCards 
				a(href='#' class="pack-card pack-card--sm")
					img(src='~images/girl.png' alt='image' class="pack-card__image")
					.pack-card__title Toys
					.pack-card__title.pack-card__title--sm 24 cards
					.pack-card__title.pack-card__title--sm 72 phrases
		
			ul.mdl-list
				li.mdl-list__item.mdl-list__item--two-line.mdl-color--cyan-50.plans-container__plan
					input(type='radio' name='options' value='1' id="list-option-1")
					label(for='list-option-1')
					span.mdl-list__item-primary-content
						span Monthly
						.mdl-list__item-sub-title 3 days FREE Trail
					span.mdl-list__item-secondary-content 
						span.mdl-list__item-secondary-info EGP 100/Month
								
				li.mdl-list__item.mdl-list__item--two-line.mdl-color--cyan-50.plans-container__plan
					input(type='radio' name='options' value='2' checked='checked' id="list-option-2")
					label(for='list-option-2')
					span.mdl-list__item-primary-content 
						span Six Months
						.mdl-list__item-sub-title 3 days FREE Trail
					span.mdl-list__item-secondary-content
						span.mdl-list__item-secondary-info EGP 500/6 Month
							
				
				li.mdl-list__item.mdl-list__item--two-line.mdl-color--cyan-50.plans-container__plan
					input(type='radio' name='options' value='3' id="list-option-3")
					label(for='list-option-3')
					span.mdl-list__item-primary-content
						span Yearly
						.mdl-list__item-sub-title 3 days FREE Trail
					span.mdl-list__item-secondary-content
						span.mdl-list__item-secondary-info EGP 1000/Year
						

				li.mdl-list__item.mdl-list__item--two-line.mdl-color--cyan-50.plans-container__plan
						input(type='radio' name='options' value='4' id ="list-option-4")

						label(for='list-option-4')
						span.mdl-list__item-primary-content
							span Lifetime
							.mdl-list__item-sub-title One-time Payment
						span.mdl-list__item-secondary-content
							span.mdl-list__item-secondary-info EGP 2500

			.packs-slider
				div
					a(href='#' class="pack-card pack-card--sm")
						img(src='~images/girl.png' alt='image' class="pack-card__image")
						.pack-card__title Toys
						.pack-card__title.pack-card__title--sm 24 cards
						.pack-card__title.pack-card__title--sm 72 phrases
				div
					a(href='#' class="pack-card pack-card--sm")
						img(src='~images/girl.png' alt='image' class="pack-card__image")
						.pack-card__title Toys
						.pack-card__title.pack-card__title--sm 24 cards
						.pack-card__title.pack-card__title--sm 72 phrases
				div
					a(href='#' class="pack-card pack-card--sm")
						img(src='~images/girl.png' alt='image' class="pack-card__image")
						.pack-card__title Toys
						.pack-card__title.pack-card__title--sm 24 cards
						.pack-card__title.pack-card__title--sm 72 phrases
				div
					a(href='#' class="pack-card pack-card--sm")
						img(src='~images/girl.png' alt='image' class="pack-card__image")
						.pack-card__title Toys
						.pack-card__title.pack-card__title--sm 24 cards
						.pack-card__title.pack-card__title--sm 72 phrases
				div
					a(href='#' class="pack-card pack-card--sm")
						img(src='~images/girl.png' alt='image' class="pack-card__image")
						.pack-card__title Toys
						.pack-card__title.pack-card__title--sm 24 cards
						.pack-card__title.pack-card__title--sm 72 phrases

			button.mdl-button.mdl-button--primary.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--colored.plans-container__submit
				| Subscribe to the Selected Plan
			p.mdl-typography--body-1.mdl-typography--font-bold.mdl-typography--text-center.mdl-color-text--red-A700 Cancel any time without cost

		