extends main

block layout
	//- .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
	.landing
		include ../partials/full-header
			//- block page-title
			//- main.mdl-layout__content
			//- 	.page-content
		block content
		include ../partials/footer