.feature-card
  span.material-icons.feature-card__icon send
  .mdl-card__title
    h2.mdl-card__title-text Welcome
  .mdl-card__supporting-text
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    | Mauris sagittis pellentesque lacus eleifend lacinia...
