.plan-card
  span.material-icons.plan-card__icon send
  h4.display-4 Basic
  h4.display-4 300 EGP
  h5.display-5 Monthly 
  span.mdl-chip.mdl-chip--contact
    span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white 
      span.material-icons send
    span.mdl-chip__text 3 Days Free
  span.mdl-chip.mdl-chip--contact
    span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white 
      span.material-icons send
    span.mdl-chip__text 3 Days Free
  span.mdl-chip.mdl-chip--contact
    span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white 
      span.material-icons send
    span.mdl-chip__text 3 Days Free
  span.mdl-chip.mdl-chip--contact
    span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white 
      span.material-icons send
    span.mdl-chip__text 3 Days Free
  